.wyr-form input {
	width: 98%;
	height: 30px;
	margin-bottom: 24px;
	font-size: 18px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(0,0,0,0.12)
}

.wyr-form button {
	height: 30px;
	width: 100%;
	background-color: lightskyblue;
	border-radius: 5px;
	color: darkslategray;
	font-weight: bold;
	margin: 0 auto;
}

.wyr-form button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.newPollheader{
	border: 1px solid yellowgreen;
	background: #ddf1ca;
	text-align: center;
	padding: 12px;
	border-radius: 20px 20px 0px 0px;
}
.container{
	text-align: center;
}
.form {
	border: 1px solid yellowgreen;
	border-radius: 0px 0px 20px 20px;
	border-bottom: 0px;
}
.submit-button {
		background-color: lightblue;
		color: darkslategray;
		border-radius: 10px;
		font-weight: bold;
}

textarea, select, input, button { 
	outline: none; 
}

.wyr-form input:focus {
	border-bottom: 2px solid mediumseagreen;
}