.question {
	margin: 0 auto;
	max-width: 350px;
}

.question-title {
	border: 1px solid yellowgreen;
	padding: 12px;
	border-radius: 20px 20px 0px 0px;
	background: #ddf1ca;
}

.question-body {
	border: 1px solid yellowgreen;
	padding: 12px;
	background: #ddf1ca;
}
.question-footer {
	padding: 12px;
	background: #ddf1ca;
	border: 1px solid yellowgreen;
}

.question-footer {
	border-radius: 0px 0px 20px 20px;
	text-align: center;
}

.poll-button {
	border: 1px solid darkgreen;
	border-radius: 5px;
	width: 100%;
	padding: 12px;
	background-color: lightblue;
	color: darkslategray;
	font-weight: bold;
	font-size: 0.8em;
}

.avatar {
	border-radius: 50%;
	max-height: 50px;
	float: left;
	margin-right: 12px;
	vertical-align: middle;
}